In [13]:
gradebook: dict = {}

In [14]:
name: str = ""
roll_no: int
mark: int
grade: str = ""
total_marks: int
avg_marks: float
promoted: bool

In [15]:
roll_call: tuple = (101,102,103,104,105,106)

In [16]:
marks: list = []
grades: list = []
names: list = []

for roll in roll_call:
    name_per_roll = input("Enter name: ")
    for i in range(5):
        mark_per_roll = input(f"Enter marks for subject {i+1}: ")
        marks.append(mark_per_roll)

    names.append(name_per_roll)

In [17]:
marks

['99',
 '98',
 '97',
 '100',
 '89',
 '89',
 '68',
 '78',
 '99',
 '100',
 '10',
 '20',
 '30',
 '40',
 '50',
 '50',
 '50',
 '50',
 '50',
 '50',
 '70',
 '90',
 '98',
 '88',
 '77',
 '30',
 '40',
 '54',
 '54',
 '76']

In [18]:
names

['Akshat', 'Raghav', 'SV', 'Rohit', 'Maven', 'Rishab']

In [31]:
k = -1
for i in range(6):
    n = names[i]
    print(n)
    m_lst = []  # Create a new list for each student
    for j in range(5):
        k += 1
        m = marks[k]
        m_lst.append(m)
    gradebook[n] = m_lst.copy()  # Store a copy of the list
    print(m_lst)

Akshat
['99', '98', '97', '100', '89']
Raghav
['89', '68', '78', '99', '100']
SV
['10', '20', '30', '40', '50']
Rohit
['50', '50', '50', '50', '50']
Maven
['70', '90', '98', '88', '77']
Rishab
['30', '40', '54', '54', '76']

In [32]:
gradebook

{'Akshat': ['99', '98', '97', '100', '89'],
 'Raghav': ['89', '68', '78', '99', '100'],
 'SV': ['10', '20', '30', '40', '50'],
 'Rohit': ['50', '50', '50', '50', '50'],
 'Maven': ['70', '90', '98', '88', '77'],
 'Rishab': ['30', '40', '54', '54', '76']}